{% extends 'pages/base.jinja' %}

{% block title %}

    Flask and Turso DB Demo - New Thing

{% endblock %}


{% block content %}

    <h1>New Weapon</h1>

    <article>

        <form action="/add-thing" method="POST">
            <label>
                Name
                <input name="name" type="text" required> 
            </label>

            <label>
                Damage
                <input name="damage" type="text" min="0" default="0" required> 
            </label>

            <label>
                Firerate
                <input name="firerate" type="int" required>
            </label>

            <button>Add the Weapon</button>
        </form>

    </article>

{% endblock %}
